.breadcrumb{
    list-style: none;
    padding:10px 16px;
    margin-bottom:20px;
    background-color: #ffffff;
    border:0;
    box-shadow:0 1px 5px rgba(0,0,0,0.3);
}
.breadcrumb li{
    display: inline;
}
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
.breadcrumb>li+li::before{
content:">\00a0";
color:#cccccc;
}