body {
    font-family:  "Lato", sans-serif;
 
  padding: 0;
  margin: 0;
}

.checkout-container {
    width: 400px;
    margin: 50px auto;
    background-color: #f9f9f9; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000000;
}

.payment-option {
    margin-bottom: 20px;
}

.payment-option label {
    font-weight: bold;
    margin-left: 10px;
    color: #000000;
}

input[type="radio"] {
    margin-right: 10px;
}

.payment-details {
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
}

.payment-details label {
    display: block;
    margin: 10px 0 5px;
}

.payment-details input, .payment-details select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
}

.payment-details input::placeholder,
.payment-details select {
    color: #999;
}

.place-order {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.place-order:hover {
    background-color: gray;
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    .checkout-container {
        width: 90%;
        margin: 20px auto;
    }

    h2 {
        font-size: 22px;
    }

    .place-order {
        font-size: 16px;
    }
}
.user-info {
    margin-top:10px;
    margin-bottom: 40px; /* Space below the user info section */
}

.user-info label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;/* Make labels bold */
}

.user-info input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;; /* Font size for input fields */
}

h3{
    text-align: center;
}
