body {
  font-family:  "Lato", sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}
h2{
    padding-bottom: 10px;
    font-size: 300%;
    text-align: center;
    font-size: 500%;
}
p{
   text-align: center;
   font-weight: bold;
}
.products-container {
  padding:20px;
  display: flex;
  flex-direction: row;
  
}

.product-gallery 
{
  margin-left:2rem;
  padding:1px 16px;
  height:1000px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
     
 }
.product 
{
    border-radius: 5px;
    align-items: center;
    border: 2px solid white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 5%;
}
.product img {
  background-color: #F4F4F4;
  display: block;
 height: 250px;
  width: 300px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: center;
  object-fit: contain;
  
}

.wish {
  border: 0;
  cursor: pointer;
  padding: 0;
  top:25px;
  left:130px;
  color: gray;
  position: relative; /* Adjust if needed */
}

/* Added focus style for button */
.wish:focus {
  outline: none; /* Remove default outline */
}
.wishlist-icon {
  cursor: pointer;
}
.wish:focus .wishlist {
  color:  red; /* Outline on focus */
  outline-offset: 2px; /* Offset for better visibility */
}


.wishlist {
  color: gray; /* Default color */
  transition: color 0.3s; /* Smooth transition */
}

.wishlist:active {
  color: red; /* Color when active */
}

@keyframes beat {
  0% {
      transform: scale(1.4);
  }
  50% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(1);
  }
}

