html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
   
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  border: 2px solid white;
  height: 90px;
  width: 90px;
  font-size: 30px;
  text-align: center;
}


.search {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 15px;
  border-radius: 10px;
  background-color: gray;
  padding: 10px 20px;
  align-items: center;
}

.searchInput {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.searchInput::placeholder {
  color: lightgray;
  font-size: 20px;
 
}


.navBottom {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size:xx-large;
  cursor: pointer;
  color:white;
}
.navBottom a{
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.navBottom a:hover{
  background-color: white;
  color: rgb(0, 0, 0);
}

.active, .menuItem:hover {
  background-color: red;
  color: black;
}

.menuItem {
  cursor: pointer;
  color:white;
  font-weight: 400;
}
.dropbtn {
  background-color:#111;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  background-color:whitesmoke;
  flex-direction: column;
  position: absolute;
  min-width:max-content;
  height: auto;
  box-shadow: 5px 8px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-weight: bolder;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}
