html {
  scroll-behavior: smooth;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
   
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  border: 2px solid white;
  height: 90px;
  width: 90px;
  font-size: 30px;
  text-align: center;
}


.search {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 15px;
  border-radius: 10px;
  background-color: gray;
  padding: 10px 20px;
  align-items: center;
}

.searchInput {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.searchInput::placeholder {
  color: lightgray;
  font-size: 20px;
 
}


.navBottom {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size:xx-large;
  cursor: pointer;
  color:white;
}
.navBottom a{
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.navBottom a:hover{
  background-color: white;
  color: rgb(0, 0, 0);
}

.active, .menuItem:hover {
  background-color: red;
  color: black;
}

.menuItem {
  cursor: pointer;
  color:white;
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
  text-align: center;
  text-size-adjust: 100%;
}

.ul{
  list-style-type: none;
  background-color: black;
  color: white;
}

ul li{
  display: inline-block;
  padding: 30px;
}

ul li:hover{
 background-color:white;
 color:black;
}
.dropdown{display: none;
  background-color: antiquewhite;
}

ul li:hover .dropdown{
  display: block;
  position: absolute;
  margin-left: -0.8cm;
  margin-top: 0.8cm;
}
 .dropdown ul{
  margin: 0;
  padding: 0;
 }

.dropdown ul li{
  display: block;
  color:grey;
}
