.container {
    width: 400px;
    margin: 100px auto;
    background-color: #f9f9f9; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
}

.login{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000;
}

.logininfo, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    color: #000; 
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    color: #888; 
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #f5b915; 
    color: #000;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #e0a813;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }

    h2 {
        font-size: 22px;
    }

    login-btn {
        font-size: 16px;
    }
}
