html { background-color: black; }
body {
  margin:0;
  background-color: white;
}

.content{
    margin-top:-10px;

}
/*breadcrumb*/
.breadcrumb{
    list-style: none;
    padding:10px 16px;
    margin-bottom:20px;
    background-color: #ffffff;
    border:0;
    box-shadow:0 1px 5px rgba(0,0,0,0.3);
}
.breadcrumb li{
    display: inline;
}
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
.breadcrumb>li+li::before{
content:">\00a0";
color:#cccccc;
}

/*product details style*/

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width:80%;
    margin: auto;
}
/*image slider*/
.col-md-3 {
  max-width:50%;
  margin: 0 auto;
  background-color:white;
  position: relative;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active, .dot:hover
{
  background-color: black;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*product description*/
.col-md-6
{  /* col-md-6 */
    width: 50%;
    margin: 0 auto;
    background-color:white;
}
.box{
    position: relative;
    top: 10px;
}

.qt-sneaker
{
    display:inline;
}

  /*price*/
.price
{
     font-size: 2.5rem;
    font-weight: 700;
}


/*
 Sneeaker size
  */
.size-text{
    font-size: 25px;
    margin-bottom:3px;
}
.btn-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.btn-group label {
    display: inline-block;
    background-color:white;
    padding: 10px 20px;
    color: black;
    width:3rem;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.btn-group  input[type="radio"]:checked + label {
    background-color:lightgray;
    border-color:black;
    color: black;
}
.btn-group input[type="radio"]:focus + label {
    border: 2px solid black;
}
.btn-group label:hover {
  background-color:black;
   color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*qty*/

.qty{
    margin-top:2rem;
}
.btns-qty{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  width:10rem;
}
.btns-qty > div{

  width:6rem;
  height:3rem;
  text-align:center;

}
.qty_numbers{
  font-size:25px ;
  padding-bottom:0;
  font-weight: bolder;
}

.btns-qty {
  text-align:center;
  font-size:25px;
}
.btns-qty button{
  height: 2rem;
  width: 3rem;
  margin-left: 0;
  margin-right: 0;
  font-size: 25px;

}
.qty-text{
  margin:0;
  font-size: 20px;
}
.btns-qty button:hover{
  background-color: black;
  color: white;
}



/*Add to cart button*/
.add_cart {
    width: 11rem;
    height: 3rem;
    font-size: 12px;
    padding:2rem;
  outline: none;
  border:solid black;
  background-color:white;
  color: black;
  font-family: inherit;
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}
.add_cart:active {
  transform: scale(0.98);
}
.add_cart:hover {
  transform: scale(0.98);
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.add_cart svg {
  margin-right: 1rem;
}

/*Accordian*/
.prod-details{
    margin-top: 2rem;
    width: 25rem;
}
.prod-details button{
    color:black;
}

.accordion {
  background-color:white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color:black;
  color: white;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #000000;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/*you may also like*/

.products img{
  height:190px;
  width: 190px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px ;
}
.you-may-like {
  margin-top:-5px;
  background-color:white;
}
.you-may-like h3{
margin-left:-350px;
margin-top:30px;
font-size:30px;
}
.you-may-like h5{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.you-may-like-product a {
margin-top:-100px;
text-decoration:none;
color: black;
font-size: 25px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-price{
    margin-top: 0.5rem;
    margin-bottom:0 ;
    font-size: 25px;
}
.actual-price{
  font-size: 30px;
  margin-top: 0;
}
